[MAIN]
ignored-modules=piper,piper.voice

[BASIC]
good-names=do_GET,do_POST,voixla-wake-server

[FORMAT]
max-line-length=100

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    consider-using-with
